<h3 style="margin-left:10px;">Contest Reports</h3>
<hr />

<div style="margin-left:10px;">
    <p>To view specific contest reports select the contest from the left hand menu. </p>
    <p>You will get a series of reports that can be generated in the csv format (comma delimited text file). </p>
    <p>The csv file can also be easily viewed in Microsoft Excel.</p>
</div>