<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=Fozzie;Initial Catalog=ModernMediaReportingSystem;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="CrmContext" connectionString="Data Source=Fozzie;Initial Catalog=RoyaleCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <!-- START Client CRM Connection Strings -->
    <add name="MajestaConnection" connectionString="Data Source=Fozzie;Initial Catalog=MajestaCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="RoyaleConnection" connectionString="Data Source=Fozzie;Initial Catalog=RoyaleCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ScottiesConnection" connectionString="Data Source=Fozzie;Initial Catalog=ScottiesCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <!-- END Client CRM Connection Strings -->
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>