<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.10.11.11;Initial Catalog=ModernMediaReportingSystem;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.10.11.11;Initial Catalog=RoyaleCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!-- START Client CRM Connection Strings -->
    <add name="MajestaConnection" connectionString="Data Source=10.10.11.11;Initial Catalog=MajestaCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="RoyaleConnection" connectionString="Data Source=10.10.11.11;Initial Catalog=RoyaleCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ScottiesConnection" connectionString="Data Source=10.10.11.11;Initial Catalog=ScottiesCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!-- END Client CRM Connection Strings -->
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>